@model IEnumerable<FollowTheTask.Models.Managers.ManagerModel>

@{
    ViewBag.Title = "Список менеджеров";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("manager") && Model.All(x => x.UserName != User.Identity.Name))
{
    <p class="row">

        <div id="creationMessage">
            <h4 class="text-warning">Вашего аккаунта менеджера не создано. Однако это можно исправить.</h4>
        </div>

        @using (Ajax.BeginForm("Create", "Managers", new AjaxOptions
        {
            UpdateTargetId = "creationMessage",
            OnSuccess = "$('#creationButton')[0].remove()"
        }))
        {
            @Html.AntiForgeryToken()
            
            <input id="creationButton" type="submit" value="Исправить" class="btn btn-warning"/>
        }
    </p>
}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr class="row">
                <th class="col-md-2">Имя пользователя</th>
                <th class="col-md-2">Имя</th>
                <th class="col-md-2">Фамилия</th>
                <th class="col-md-2">E-mail адрес</th>
                <th class="col-md-2">Задачи</th>
                <th class="col-md-2">Исполнители</th>
            </tr>
            @foreach (var manager in Model)
            {
                <tr class="row">
                    <td>@Html.ActionLink(manager.UserName, "Details", "Managers", 
                            new{username = manager.UserName}, null)</td>
                    <td>@Html.DisplayFor(m => manager.FirstName)</td>
                    <td>@Html.DisplayFor(m => manager.LastName)</td>
                    <td>@Html.DisplayFor(m => manager.Email)</td>
                    <td>
                        @if (manager.UserName == User.Identity.Name)
                        {
                            foreach (var task in manager.TrackedTasks)
                             {
                                 <p>@Html.ActionLink(task.Title, "TasksDetails", "Managers", 
                                        new {username = manager.UserName, id = task.Id}, null)</p>
                             }
                        }
                        else
                        {
                            foreach (var task in manager.TrackedTasks)
                            {
                                <p>@Html.ActionLink(task.Title, "Details", "TrackedTasks", new { id = task.Id }, null)</p>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var worker in manager.Workers)
                        {
                            <p>@Html.ActionLink(worker.UserName, "Details", "Workers", 
                                   new {username = worker.UserName}, null)</p>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}