@model FollowTheTask.Models.Quests.QuestModel

@{
    ViewBag.Title = "Данные о подзадаче";
}

<h2>@ViewBag.Title</h2>

<script>
    function getCallback(data) {
        $('#tempdiv')[0].innerHTML = data;
    };
</script>

<ul class="nav nav-pills">
    <li>@Html.ActionLink("Назад к задаче", "TasksDetails", "Managers", new { username = ViewBag.UserName, id=Model.TrackedTask.Id}, null)</li>
    @if (User.Identity.Name == ViewBag.UserName)
    {
        <li>@Html.ActionLink("Редактирование", "QuestsEdit", "Managers", new { username = ViewBag.UserName, taskId = Model.TrackedTask.Id, id = Model.Id }, null)</li>
        var deleteLink = Url.Action("QuestsDelete", "Managers", new { username = ViewBag.UserName, taskId = Model.TrackedTask.Id, id = Model.Id });
        var notifyLink = Url.Action("QuestsNotify", "Managers", new { username = ViewBag.UserName, taskId = Model.TrackedTask.Id, id = Model.Id });
        <li><a href="javascript:$.get('@deleteLink', getCallback)">Удаление</a></li>
        <li><a href="javascript:$.get('@notifyLink', getCallback)" onclick="$('#tempdiv')[0].innerHTML='Подождите...'">Напомнить исполнителю о подзадаче</a></li>
    }
</ul>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr class="row @Utility.GetStatusCssClass(Model.DeadLine, Model.CompletionDate, Model.IsFinished)">
                <td class="col-md-4">Статус</td>
                <td class="col-md-8">@Utility.GetStatus(Model.DeadLine, Model.CompletionDate, Model.IsFinished)</td>
            </tr>
            <tr class="row">
                <td class="col-md-4">@Html.LabelFor(m => m.Title)</td>
                <td class="col-md-8">@Html.DisplayFor(m => m.Title)</td>
            </tr>
            <tr class="row">
                <td class="col-md-4">@Html.LabelFor(m => m.Description)</td>
                <td class="col-md-8">@Html.TextAreaFor(model => model.Description, 5, 40, new { @class = "form-control", disabled = "disabled" })</td> 
            </tr>
            <tr class="row">
                <td class="col-md-4"><label>Исполнитель</label></td>
                <td class="col-md-8">@Html.ActionLink(Model.Worker.UserName, "Details", "Workers", new { username = Model.Worker.UserName }, null)</td>
            </tr>
            <tr class="row">
                <td class="col-md-4"><label>Задача</label></td>
                <td class="col-md-8">@Html.ActionLink(Model.TrackedTask.Title, "TasksDetails", "Managers", new { username = ViewBag.UserName, id = Model.TrackedTask.Id }, null)</td>
            </tr>
            <tr class="row">
                <td class="col-md-4">@Html.LabelFor(m => m.IssuedDate)</td>
                <td class="col-md-8">@Html.DisplayFor(m => m.IssuedDate)</td>
            </tr>
            <tr class="row">
                <td class="col-md-4">@Html.LabelFor(m => m.DeadLine)</td>
                <td class="col-md-8">@Html.DisplayFor(m => m.DeadLine)</td>
            </tr>
            <tr class="row">
                <td class="col-md-4">@Html.LabelFor(m => m.CompletionDate)</td>
                <td class="col-md-8">@(Model.IsFinished ? Html.DisplayFor(m => m.CompletionDate) : new MvcHtmlString("Неизвестно"))</td>
            </tr>
            <tr class="row">
                <td class="col-md-4">@Html.LabelFor(m => m.HoursSpent)</td>
                <td class="col-md-8">@(Model.IsFinished ? Html.DisplayFor(m => m.HoursSpent) : new MvcHtmlString("Неизвестно"))</td>
            </tr>
        </table>
    </div>
    @if (User.Identity.Name == ViewBag.Username)
    {
        <div class="col-md-6" id="tempdiv">
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}