@model FollowTheTask.Models.TrackedTasks.TrackedTaskModel

@{
    ViewBag.Title = "Данные о задаче";
}

<h2>@ViewBag.Title</h2>

<script>
    function getCallback(data) {
        $('#tempdiv')[0].innerHTML = data;
    };
</script>

<ul class="nav nav-pills">
    <li>@Html.ActionLink("Назад к списку задач", "TasksIndex", "Managers", new {username=Model.Manager.UserName}, null)</li>
    @if (User.Identity.Name == Model.Manager.UserName)
    {
        <li>@Html.ActionLink("Редактирование", "TasksEdit", "Managers", new { username = Model.Manager.UserName, id = Model.Id }, null)</li>
        var deleteLink = Url.Action("TasksDelete", "Managers", new { username = Model.Manager.UserName, id = Model.Id });
        var completeLink = Url.Action("TasksComplete", "Managers", new { username = Model.Manager.UserName, id = Model.Id });
        <li><a href="javascript:$.get('@completeLink', getCallback)">Завершить задачу</a></li>
        <li><a href="javascript:$.get('@deleteLink', getCallback)">Удаление</a></li>
        <li>@Html.ActionLink("Создание подзадачи", "QuestsCreate", "Managers", new{username = Model.Manager.UserName, taskId = Model.Id}, null)</li>
    }
</ul>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr class="row @Utility.GetStatusCssClass(Model.DeadLine, Model.CompletionDate, Model.IsFinished)">
                <td class="col-md-4">Статус</td>
                <td class="col-md-8">@Utility.GetStatus(Model.DeadLine, Model.CompletionDate, Model.IsFinished)</td>
            </tr>
            <tr class="row">
                <td class="col-md-4">@Html.LabelFor(m => m.Title)</td>
                <td class="col-md-8">@Html.DisplayFor(m => m.Title)</td>
            </tr>
            <tr class="row">
                <td class="col-md-4">@Html.LabelFor(m => m.Description)</td>
                <td class="col-md-8">@Html.TextAreaFor(model => model.Description, 5, 40, new { @class = "form-control", disabled = "disabled" })</td> 
            </tr>
            <tr class="row">
                <td class="col-md-4"><label>Менеджер</label></td>
                <td class="col-md-8">@Html.ActionLink(Model.Manager.UserName, "Details", "Managers", new { username = Model.Manager.UserName }, null)</td>
            </tr>
            <tr class="row">
                <td class="col-md-4">@Html.LabelFor(m => m.IssuedDate)</td>
                <td class="col-md-8">@Html.DisplayFor(m => m.IssuedDate)</td>
            </tr>
            <tr class="row">
                <td class="col-md-4">@Html.LabelFor(m => m.DeadLine)</td>
                <td class="col-md-8">@Html.DisplayFor(m => m.DeadLine)</td>
            </tr>
            <tr class="row">
                <td class="col-md-4">@Html.LabelFor(m => m.CompletionDate)</td>
                <td class="col-md-8">@(Model.IsFinished ? Html.DisplayFor(m => m.CompletionDate) : new MvcHtmlString("Неизвестно"))</td>
            </tr>
            <tr class="row">
                <td class="col-md-4">@Html.LabelFor(m => m.HoursSpent)</td>
                <td class="col-md-8">@(Model.IsFinished ? Html.DisplayFor(m => m.HoursSpent) : new MvcHtmlString("Неизвестно"))</td>
            </tr>
        </table>
    </div>
    @if (User.Identity.Name == Model.Manager.UserName)
    {
        <div class="col-md-6" id="tempdiv"></div>
    }
</div>
<div class="row">
    <div class="col-md-10">
        <h4>Подзадачи</h4>
        <table class="table">
            <tr class="row">
                <th class="col-md-3">Название подзадачи</th>
                <th class="col-md-2">Исполнитель</th>
                <th class="col-md-2">Дата выдачи</th>
                <th class="col-md-2">Крайний срок</th>
                <th class="col-md-3">Статус</th>
            </tr>
            @foreach (var quest in Model.Quests)
            {
                <tr class="row @Utility.GetStatusCssClass(quest.DeadLine, quest.CompletionDate, quest.IsFinished)">
                    <td>
                        @Html.ActionLink(quest.Title, "QuestsDetails", "Managers",
                            new { username = Model.Manager.UserName, taskId = Model.Id, id = quest.Id }, null)
                    </td>
                    <td>
                        @Html.ActionLink(quest.Worker.UserName, "Details", "Workers",
                            new { username = quest.Worker.UserName }, null)
                    </td>
                    <td>@Html.DisplayFor(m => quest.IssuedDate)</td>
                    <td>@Html.DisplayFor(m => quest.DeadLine)</td>
                    <td>@Utility.GetStatus(quest.DeadLine, quest.CompletionDate, quest.IsFinished)</td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}