@model FollowTheTask.Models.Role.RoleModel

@{
    ViewBag.Title = "Редактирование";
}

<h2>Редактирование</h2>

<ul class="nav nav-pills">
    <li>@Html.ActionLink("Назад к списку ролей", "Index", "Roles")</li>
    <li>@Html.ActionLink("Подробности", "Details", "Roles", new { name = Model.Name }, null)</li>
    @if (User.IsInRole("owner") || Model.AllowDeletion)
    {
        <li>@Html.ActionLink("Удаление", "Delete", "Roles", new { name = Model.Name }, null)</li>
    }
</ul>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.HiddenFor(model => model.Name)

        <div class="form-group">
            @Html.LabelFor(model => model.DisplayName, new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.Description, 10, 50, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (User.IsInRole("owner"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.AllowDeletion, new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AllowDeletion)
                        @Html.ValidationMessageFor(model => model.AllowDeletion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(model => model.AllowDeletion)
        }

        <div class="form-group">
            <div class="col-md-offset-3 col-md-2">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
