@model IEnumerable<FollowTheTask.Models.ApplicationRole>

@{
    ViewBag.Title = "Список ролей";
}

<h2>Список ролей</h2>

<ul class="nav nav-pills">
    <li>@Html.ActionLink("Создать роль", "Create", "Roles")</li>
</ul>

<table class="table">
    <tr class="row">
        <th class="col-md-3">Название роли</th>
        <th class="col-md-3">Имя роли в базе данных</th>
        <th class="col-md-2">Возможность удаления</th>
        <th class="col-md-4">Действия</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="row">
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="col-md-2">
                <div class="checkbox">
                    @Html.DisplayFor(modelItem => item.AllowDeletion)
                </div>
            </td>
            <td class="col-md-4">
                <ul class="nav nav-pills">
                    <li>@Html.ActionLink("Редактирование", "Edit", "Roles", new { name = item.Name }, null)</li>
                    <li>@Html.ActionLink("Подробности", "Details", "Roles", new {name = item.Name}, null)</li>
                    @if (User.IsInRole("owner") || item.AllowDeletion)
                    {
                        <li>@Html.ActionLink("Удаление", "Delete", "Roles", new {name = item.Name}, null)</li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>