@using FollowTheTask.Web.Infrastructure
@using Microsoft.AspNet.Identity
@model FollowTheTask.BLL.Services.Feature.ViewModels.FeatureInfoViewModel

@{
    ViewBag.Title = Model.Name;
}

<div>
    <h2>@Model.Name</h2>
    <ul class="nav nav-pills">
        @if (PermissionResolver.TeamEditPermission(int.Parse(User.Identity.GetUserId()), Model.TeamId))
        {
            <li>@Html.ActionLink("Edit", "Edit", new {id = Model.Id})</li>
            <li>@Html.ActionLink("Delete", "Delete", new {id = Model.Id})</li>
        }
        <li>@Html.ActionLink("Back to team", "Index", "Team", new {id = Model.TeamId}, new {})</li>
    </ul>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
    </dl>
</div>

<div>
    <h2>Issues</h2>

    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Add issue", "Create", "Issue", new { featureId = Model.Id }, new { })</li>
    </ul>

    @Html.Action("GetFeatureIssues", new { featureId = Model.Id })
</div>
