@model FollowTheTask.BLL.Services.Feature.ViewModels.FeatureInfoViewModel

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to team", "Index", "Team", new {id = Model.TeamId}, new {})|
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id})
</p>

<h2>Issues of these feature</h2>

@Html.Action("GetFeatureIssues", new { featureId  = Model.Id})
