@using Microsoft.AspNet.Identity
@model FollowTheTask.BLL.Services.Comment.ViewModels.CommentInfoViewModel

<div>
    <table class="table">
        <tr>
            <td>
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.User)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.User)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateCreatedUtc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateCreatedUtc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Message)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Message)
                    </dd>

                </dl>
            </td>
            <td>
                @if (User.Identity.GetUserId() == Model.UserId?.ToString())
                {
                    <ul class="nav nav-pills">
                        <li>@Html.ActionLink("Edit", "Edit", "Comment", new { id = Model.Id }, new { })</li>
                        <li>@Html.ActionLink("Delete", "Delete", "Comment", new { id = Model.Id }, new { })</li>
                    </ul>
                }
            </td>
        </tr>
    </table>
</div>