@model FollowTheTask.Models.Workers.WorkerModel

@{
    ViewBag.Title = "Данные исполнителя " + Model.UserName;
}

<h2>@ViewBag.Title</h2>

<ul class="nav nav-pills">
    <li>@Html.ActionLink("Назад к списку исполнителей", "Index", "Workers")</li>
</ul>


<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr class="row">
                <td>@Html.LabelFor(m => m.UserName)</td>
                <td>@Html.DisplayFor(m => m.UserName)</td>
            </tr>
            <tr class="row">
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>@Html.DisplayFor(m => m.Email)</td>
            </tr>
            <tr class="row">
                <td>@Html.LabelFor(m => m.FirstName)</td>
                <td>@Html.DisplayFor(m => m.FirstName)</td>
            </tr>
            <tr class="row">
                <td>@Html.LabelFor(m => m.LastName)</td>
                <td>@Html.DisplayFor(m => m.LastName)</td>
            </tr>
            @if (Model.Manager.UserName != null)
            {
                <tr class="row">
                    <td><label>Менеджер</label></td>
                    <td>@Html.ActionLink(Model.Manager.UserName, "Details", "Managers", 
                            new { username = Model.Manager.UserName }, null)</td>
                </tr>
            }
        </table>
    </div>
    @if (User.IsInRole("manager") && Model.Manager.UserName == null)
    {
        <div class="col-md-6">
            <div id="managerMessage">
                <h4>Вы хотите работать с этим исполнителем?</h4>
            </div>
            @using (Ajax.BeginForm("ManagerApply", "Workers", new { username = Model.UserName }, new AjaxOptions
            {
                UpdateTargetId = "managerMessage",
                LoadingElementId = "loading",
                OnSuccess = "$('#managerForm')[0].remove()"
            }, new { id = "managerForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="col-md-offset-2 form-group">
                    <input type="submit" value="Да" class="btn btn-primary" />
                    <a class="btn btn-default" href="javascript:$('#managerForm')[0].remove();$('#managerMessage')[0].remove()">Нет</a>
                </div>
            }
            <div id="loading" class="col-md-offset-2" style="display:none; color:green;">
                <h4>Подождите...</h4>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-8">
        <h4>Подзадачи</h4>
        <table class="table">
            <tr class="row">
                <th class="col-md-3">Название подзадачи</th>
                <th class="col-md-3">Дата выдачи</th>
                <th class="col-md-3">Крайний срок</th>
                <th class="col-md-3">Статус</th>
            </tr>
            @foreach (var quest in Model.Quests)
            {
                <tr class="row @Utility.GetStatusCssClass(quest.DeadLine, quest.CompletionDate, quest.IsFinished)">
                    <td>
                        @if (Model.UserName == User.Identity.Name)
                        {
                        @Html.ActionLink(quest.Title, "QuestsDetails", "Workers", new { username = Model.UserName, id = quest.Id }, null)
                        }
                        else
                        {
                            @Html.ActionLink(quest.Title, "Details", "Quests", 
                                    new { taskId = quest.TrackedTask.Id, id = quest.Id }, null)
                        }
                    </td>
                    <td>@Html.DisplayFor(m => quest.IssuedDate)</td>
                    <td>@Html.DisplayFor(m => quest.DeadLine)</td>
                    <td>@Utility.GetStatus(quest.DeadLine, quest.CompletionDate, quest.IsFinished)</td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}