@model IEnumerable<FollowTheTask.Models.Workers.WorkerModel>

@{
    ViewBag.Title = "Список исполнителей";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("worker") && Model.All(x => x.UserName != User.Identity.Name))
{
    <p class="row">

        <div id="creationMessage">
            <h4 class="text-warning">Вашего аккаунта исполнителя не создано. Однако это можно исправить.</h4>
        </div>

        @using (Ajax.BeginForm("Create", "Workers", new AjaxOptions
        {
            UpdateTargetId = "creationMessage",
            OnSuccess = "$('#creationButton')[0].remove()"
        }))
        {
            @Html.AntiForgeryToken()

            <input id="creationButton" type="submit" value="Исправить" class="btn btn-warning" />
        }
    </p>
}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr class="row">
                <th class="col-md-2">Имя пользователя</th>
                <th class="col-md-2">Имя</th>
                <th class="col-md-2">Фамилия</th>
                <th class="col-md-2">E-mail адрес</th>
                <th class="col-md-2">Менеджер</th>
                <th class="col-md-2">Подзадачи</th>
            </tr>
            @foreach (var worker in Model)
            {
                <tr class="row">
                    <td>@Html.ActionLink(worker.UserName, "Details", "Workers", new{username = worker.UserName}, null)</td>
                    <td>@Html.DisplayFor(m => worker.FirstName)</td>
                    <td>@Html.DisplayFor(m => worker.LastName)</td>
                    <td>@Html.DisplayFor(m => worker.Email)</td>
                    <td>@if (worker.Manager.UserName != null)
                        {
                            @Html.ActionLink(worker.Manager.UserName, "Details", "Managers", new {username = worker.Manager.UserName}, null)

                        }
                        else
                        {
                            <span class="text-info">Нет менеджера</span>
                        }
                    </td>
                    <td>
                        @if (User.Identity.Name == worker.UserName)
                        {
                            foreach (var quest in worker.Quests)
                            {
                                <p>@Html.ActionLink(quest.Title, "QuestsDetails", "Workers", 
                                       new { username = worker.UserName, id = quest.Id }, null)</p>
                            }
                        }
                        else
                        {
                            foreach (var quest in worker.Quests)
                            {
                                <p>@Html.ActionLink(quest.Title, "Details", "Quests", new { taskId = quest.TrackedTask.Id, id = quest.Id }, null)</p>
                            }
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}