@model IEnumerable<FollowTheTask.Models.Quests.QuestModel>

@{
    ViewBag.Title = "Подзадачи";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr class="row">
                <th class="col-md-2">Название подзадачи</th>
                <th class="col-md-1">Исполнитель</th>
                <th class="col-md-1">Статус</th>
                <th class="col-md-1">Задача</th>
                <th class="col-md-2">Дата выдачи</th>
                <th class="col-md-2">Крайний срок</th>
                <th class="col-md-2">Дата завершения</th>
                <th class="col-md-1">Потраченные часы</th>
            </tr>
            @foreach (var quest in Model)
            {
                <tr class="row @Utility.GetStatusCssClass(quest.DeadLine, quest.CompletionDate, quest.IsFinished)">
                    <td>@Html.ActionLink(quest.Title, "QuestsDetails", "Workers", new { username = quest.Worker.UserName, id = quest.Id }, null)</td>
                    <td>@Html.ActionLink(quest.Worker.UserName, "Details", "Workers", new { username = quest.Worker.UserName }, null)</td>
                    <td>@Utility.GetStatus(quest.DeadLine, quest.CompletionDate, quest.IsFinished)</td>
                    <td>@Html.ActionLink(quest.TrackedTask.Title, "Details", "TrackedTasks", new { id = quest.TrackedTask.Id }, null)</td>
                    <td>@Html.DisplayFor(m => quest.IssuedDate)</td>
                    <td>@Html.DisplayFor(m => quest.DeadLine)</td>
                    @if (quest.IsFinished)
                    {
                        <td>@Html.DisplayFor(m => quest.CompletionDate)</td>
                        <td>@Html.DisplayFor(m => quest.HoursSpent)</td>
                    }
                    else
                    {
                        <td>Неизвестно</td>
                        <td>Неизвестно</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>