@using Microsoft.AspNet.Identity
@model FollowTheTask.BLL.Services.Team.ViewModels.TeamInfoViewModel

@{
    ViewBag.Title = Model.Name;
}

<div>
    <h1>@Model.Name</h1>
    @if (User.IsInRole("Admin") || User.Identity.GetUserId() == Model.LeaderId.ToString())
    {
        @Html.ActionLink("Edit", "Edit", new { id = @Model.Id })
    }
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Delete", "Delete", new { id = @Model.Id })
    }
    
</div>



<br/>

<h2>List of features</h2>
@Html.ActionLink("Create feature", "Create", "Feature", new {teamId = Model.Id}, new {})

@Html.Action("GetTeamFeatures", "Team", new { teamId = @Model.Id })

<h2>Members</h2>

@Html.Action("GetTeamMembers", "Team", new { teamId = @Model.Id })
