@model FollowTheTask.Models.LoginModel

@{
    ViewBag.Title = "Log In";
}

<h2>Вход</h2>

@using (@Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    
    <div>
        @Html.ValidationSummary()
        <div class="table">
            <div class="row form-group">
                @Html.LabelFor(m => m.UserName, new {@class = "col-md-6 col-xs-6 text-right control-label"})
                @Html.EditorFor(m => m.UserName, new { @class = "col-md-6 col-xs-6 form-control" })
            </div>
            <div class="row form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-6 col-xs-6 text-right control-label" })
                @Html.EditorFor(m => m.Password, new { @class = "col-md-6 col-xs-6 form-control" })
            </div>
            <div class="row form-group">
                <div class="col-md-offset-5 col-md-2">
                    <input type="submit" value="Войти" class="btn btn-block btn-default" />
                </div>
            </div>
        </div>
    </div>
}