@using System.Linq
@model System.Collections.Generic.IEnumerable<FollowTheTask.Models.Users.UserModel>
@{
    ViewBag.Title = "Список пользователей";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive">
            <tr class="row">
                <th>@Html.DisplayNameFor(m => m.UserName)</th>
                <th>@Html.DisplayNameFor(m => m.Email)</th>
                <th>@Html.DisplayNameFor(m => m.FirstName)</th>
                <th>@Html.DisplayNameFor(m => m.LastName)</th>
                <th>@Html.DisplayNameFor(m => m.Roles)</th>
                <th>Действия</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr class="row">
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => user.UserName)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => user.FirstName)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => user.LastName)
                    </td>
                    <td class="col-md-2">
                        @foreach (var role in user.Roles.Where(role => role.IsUserInRole))
                        {
                            <p>
                                @Html.DisplayFor(roleItem => role.DisplayName)
                            </p>
                        }
                    </td>
                    <td class="col-md-4">
                        <ul class="nav nav-pills">
                            <li>@Html.ActionLink("Подробности", "Details", "Users", new { username = user.UserName }, null)</li>
                            @if ((User.IsInRole("owner") && !user.Roles.First(role => role.Name == "owner").IsUserInRole) ||
                                 User.IsInRole("admin") && !(user.Roles.First(role => role.Name == "owner").IsUserInRole ||
                                                             user.Roles.First(role => role.Name == "admin").IsUserInRole) || 
                                                             User.Identity.Name == user.UserName)
                            {
                                <li>
                                    @Html.ActionLink("Редактирование", "Edit", "Users", new {username = user.UserName}, null)
                                </li>
                                if (User.Identity.Name != user.UserName)
                                {
                                    <li>
                                        @Html.ActionLink("Удаление", "Delete", "Users", new {username = user.UserName}, null)
                                    </li>
                                }
                            }
                        </ul>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>